<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNwJPL7JI2I_MXb8Fk8f-zxX0LoXNxcUM</string>
	<key>GCM_SENDER_ID</key>
	<string>991315419560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icab.appmotorista</string>
	<key>PROJECT_ID</key>
	<string>icab-mobilidade</string>
	<key>STORAGE_BUCKET</key>
	<string>icab-mobilidade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991315419560:ios:26311ac9b1facabf4fbd9d</string>
</dict>
</plist>